{%- macro helper_description_brief(o) -%}{{ helper_render_textAndChildren(o.xpath('briefdescription')[0]) }}{% endmacro -%}
{%- macro helper_description_detailed(o) -%}{{ helper_render_textAndChildren(o.xpath('detaileddescription')[0]) }}{% endmacro -%}
{%- macro helper_render_textAndChildren(o) %}{% for c in textAndChildren(o) %}{{ helper_render(c) }}{% endfor %}{% endmacro -%}
{%- macro helper_render(o) -%}
  {%- if o is string %}{{ o }}
  {%- elif o.tag == 'ndash' %}–
  {%- elif o.tag == 'ref' %}{{ o.text }}
  {%- elif o.tag == 'computeroutput' %}<code>{{ o.text }}</code>
  {%- elif o.tag == 'para' and o.xpath('parameterlist')|length > 0 -%}
  {%- elif o.tag == 'para' and o.xpath('simplesect')|length > 0 -%}
  {%- elif o.tag == 'para' %}<p>{% for c in textAndChildren(o) %}{{ helper_render(c) }}{% endfor %}</p>
  {%- else -%}{{ xml_to_string(o) }}
  {%- endif %}
{%- endmacro -%}

{%- macro base_description_brief() -%}{{ helper_description_brief(doc.base.xpath('compounddef')[0]) }}{%- endmacro -%}
{%- macro base_description_detailed() -%}{{ helper_description_detailed(doc.base.xpath('compounddef')[0]) }}{%- endmacro -%}
{%- macro base_filename() -%}{{ doc.base.xpath('compounddef/compoundname')[0].text }}{%- endmacro -%}
{%- macro base_path() -%}{{ foldername(doc.base.xpath('compounddef/location/@file')[0]) }}{%- endmacro -%}

{%- macro function_name(o) %}{{ o.xpath('name')[0].text|trim }}{% endmacro -%}
{%- macro function_uniqid(o) %}{{ o.xpath('@id')|trim }}{% endmacro -%}
{%- macro function_description_detailed(o) -%}{{ helper_description_detailed(o) }}{% endmacro -%}
{%- macro function_type(o) -%}{{ helper_render_textAndChildren(o.xpath('type')[0]) }}{% endmacro -%}

{%- macro function_param(o) -%}
  {%- for a in o.xpath('attributes') %}{{ helper_render_textAndChildren(a) }} {% endfor -%}
  {%- for t in o.xpath('type') %}{{ helper_render_textAndChildren(t) }}{% if not(helper_render_textAndChildren(t)|last == '*') %} {% endif %}{% endfor -%}
  {%- for d in o.xpath('declname') %}{{ helper_render_textAndChildren(d) }}{% endfor -%}
{%- endmacro -%}
{%- macro function_params(o) -%}{% for p in o.xpath('param') %}{{ function_param(p)|trim }}{% if not(loop.last) %}, {% endif %}{% endfor %}{%- endmacro -%}
{%- macro function_return_description(o) %}{% if o.xpath('detaileddescription//simplesect[@kind="return"]')|length > 0 %}{% for c in o.xpath('detaileddescription//simplesect[@kind="return"]')[0] %}{{ helper_render(c) }}{% endfor %}{% endif %}{% endmacro -%}
{%- macro function_desc_param_name(o) %}{% for p in o.xpath('parameternamelist/parametername') %}{{ p.text }} {% endfor %}{% endmacro -%}
{%- macro function_desc_param_description(o) %}{% for c in textAndChildren(o.xpath('parameterdescription')[0]) %}{{ helper_render(c) }} {% endfor %}{% endmacro -%}
{%- macro function_src_url(o) %}{{ o.xpath('location/@file')[0] }}#L{{ o.xpath('location/@line')[0] }}{% endmacro -%}

{%- macro macro_uniqid(o) %}{{ o.xpath('@id')|trim }}{% endmacro -%}
{%- macro macro_name(o) %}{{ o.xpath('name')[0].text|trim }}{% endmacro -%}
{%- macro macro_initializer(o) %}{{ o.xpath('initializer')[0].text|trim }}{% endmacro -%}
{%- macro macro_description_detailed(o) -%}{{ helper_description_detailed(o) }}{% endmacro -%}
{%- macro macro_src_url(o) %}{{ o.xpath('location/@file')[0] }}#L{{ o.xpath('location/@line')[0] }}{% endmacro -%}
