<div class="d-none d-md-block" style="background-color: #ffffff; padding-top: 25px; text-align: center;">
<div style="text-align: center; padding-left: 5px; padding-right: 5px;">Financial support for OQS has been provided by Amazon Web Services and the Canadian Centre for Cyber Security, and via research projects funded by NSERC Discovery grants.</div>

<br />

<img src="https://openquantumsafe.org/img/logos/aws.png" style="height: 30px;">
<img src="https://openquantumsafe.org/img/logos/nserc.png" style="height: 30px;">
<br>
<img src="https://openquantumsafe.org/img/logos/cccs.png" style="height: 50px;">
</div>
