<div class="d-none d-md-block" style="background-color: #ffffff; padding-top: 15px; text-align: center;">
    
<img src="{{site.baseurl}}/img/logos/uwaterloo.png" style="width: 125px;">

<br />

<div style="text-align: center; padding-left: 5px; padding-right: 5px; padding-bottom: 3px;">Financial  and in-kind support:</div>

<img src="{{site.baseurl}}/img/logos/aws.png" style="height: 25px; padding-left: 10px; padding-right: 5px;">
<img src="{{site.baseurl}}/img/logos/nserc.png" style="height: 25px; margin-bottom: 2px;">
<br>
<img src="{{site.baseurl}}/img/logos/cccs.png" style="height: 25px;">
<img src="{{site.baseurl}}/img/logos/evolutionQ.png" style="height: 18px; padding-left: 10px; padding-right: 5px; margin-bottom: 5px;">
<img src="{{site.baseurl}}/img/logos/microsoft.png" style="height: 25px; padding-left: 10px;">
<img src="{{site.baseurl}}/img/logos/ibm.png" style="height: 25px;">
<img src="{{site.baseurl}}/img/logos/unitary.png" style="height: 25px;">
<img src="{{site.baseurl}}/img/logos/NGIAssure_tag.png" style="height: 15px; margin-bottom: 7px">
<img src="{{site.baseurl}}/img/logos/verisign-horizontal.png" style="height: 30px; padding-left: 10px;">

</div>
